:root {
    /* --pico-background-color: #151922 !important; */
    /* --pico-card-background-color: #252b38 !important; */
}

#header-text {
    margin: 0;
}

nav {
    flex-wrap: wrap;
    justify-content: end;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

#intro-image {
    width: 15em;
    border-radius: 1em;
}

main {
    section {
        width: 100%;
    }
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: min-content;
    align-items: center;
    gap: 0.75em;
}

.card-list a {
    width: 100%;
    height: 100%;
}

.card {
    border-radius: 1em;
    outline: 1px solid rgb(28, 33, 44);

    max-width: 350px;

    width: 100%;
    height: 100%;
}

.card img, .card h4, .card small {
    margin: 0 auto 0.5em auto;
    display: block;
    border-radius: 1em;
    max-height: 300px;
    max-width: 300px;
    text-decoration: none;
}

.no-decoration {
    text-decoration: none;
    width: fit-content;
    --pico-color: var(--pico-color);
}

.card h4 {
    margin-bottom: 0.2em;
}

.card b {
    display: inline;
    color: var(--pico-primary);
}

.card .grid {
    display: grid;
}

.card button {
    width: 100%;
    border-radius: 1em;
}

#projects {
    margin-bottom: 2em;
}

#publications .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

figure img.small {
    max-width: min(100%, 500px);
}

model-viewer{
    max-width: min(100%, 500px);
    width:400px;
    height:400px;
}